<ion-header>
    <ion-toolbar color="danger">
        <ion-title>{{item.superName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="close()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="position: static">
        <div>

            <img [src]="item.images.background" alt="" class="fondoComic">
            <img [src]="item.images.thumbnail" class="porfile">

        </div>

    </div>

    <div style="margin-left: 15px;position: relative; bottom: 20% ">
        <h1 style="font-weight: bold;font-size: x-large">{{item.superName}}
            <ion-badge color="dark">
                <ion-icon name="book"></ion-icon>{{item.ranking.comicCount}}</ion-badge>
        </h1>
        <ion-note>{{item.teams[0]}}</ion-note>
        <p>{{item.description}}</p>

        <ion-row>
            <ion-col>

                <h4 style="color: rgb(53, 53, 53);font-weight: lighter">Nombre:</h4>
                <h4>{{item.secretIdentities[0]}}</h4>
                <h5 style="color: rgb(53, 53, 53);font-weight: lighter">Alias:</h5>
                <h5>{{item.aliases[0]}}</h5>
                <h5 style="color:rgb(53, 53, 53);font-weight: lighter">Especie: </h5>
                <h5>{{item.species[0]}}</h5>
                <h6 style="color:rgb(53, 53, 53);font-weight: lighter">Creadores:</h6>
                <h6 *ngFor="let autor of item.authors">{{autor}}</h6>


                <br>
                <br>
                <ion-button (click)="navigate(item.urls.wikipedia)" color="primary" fill="clear" size="small"> más informacion</ion-button>
            </ion-col>

            <ion-col>
                <ion-list style="--ion-background-color: transparent">
                    <ion-list-header>PODERES</ion-list-header>
                    <ion-item style="--ion-background-color: transparent" *ngFor="let power of item.powers">
                        <p style="font-size: smaller ">-{{power}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

    </div>

</ion-content>